<div class="row">
	<div class="col-sm-8">
		<label class="btn btn-lg btn-primary btn-block default-cursor">Choose Course</a>
	</div>
	<div class="col-sm-4">
	</div>
</div>
<br>
<div class="row" ng-if="isPrepController === true">
	<div class="col-sm-12">
		<input type="search" ng-model="search" placeholder="Search..." class="form-control" id="studentName"></input>
			<ul class="list-group div-scroll-y" id="searchStudent">
		    	<li class="list-group-item cursor-pointer" ng-repeat="student in studentList | filter:filterBySearch" ng-click="studentSelected($event);">
		        {{ student.lastName }},{{student.firstName}} : {{student.courseName}}
		    </li>
	    </ul>
	</div>
</div>
<div class="row div-scroll-y">
	<div class="col-sm-6" ng-repeat="course in courseList">
		<button class="btn btn-lg btn-default btn-block" value="{{course}}" ng-click="courseSelected();">{{course}}</button>
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="col-sm-4">
	</div>
	<div class="col-sm-4">
	</div>
	<div class="col-sm-4">
		<a href="#home" class="btn btn-lg btn-primary btn-block">Home</a>
	</div>
</div>