<div class="row">
	<div class="col-sm-6">
		<a type="button" class="btn btn-lg btn-primary btn-block">Intreview Prep View</a>
	</div>
	<div class="col-sm-6">
		<a type="button" class="btn btn-lg btn-primary btn-block">Intreview Panel View</a>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<a href="#report1" type="button" class="btn btn-lg btn-primary btn-block">Overall Progess</a>
	</div>
	<div class="col-sm-6">
		<a href="#report2" type="button" class="btn btn-lg btn-primary btn-block">Remaining to interview</a>
	</div>
</div>