<div class="row">
	<div class="col-sm-6">
		<label class="btn btn-lg btn-primary btn-block default-cursor">{{selectedCourse}}</label>	
	</div>
	<div class="col-sm-6">
		<label class="btn btn-lg btn-primary btn-block default-cursor">{{selectedStudent.lastName}}</label>	
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="col-xs-2"></div>
	<div class="col-xs-8 text-center">
		<fieldset>
  			<strong>reference</strong>
  			<div class="switch-toggle switch-candy">
    		<input id="Option1" name="reference" type="radio" value="0" ng-model="selectedStudent.reference" ng-checked="selectedStudent.reference === 0">
    		<label for="Option1" onclick="">Option1</label>

    		<input id="Option2" name="reference" type="radio" value="1" ng-model="selectedStudent.reference" ng-checked="selectedStudent.reference === 1">
    		<label for="Option2" onclick="">Option2</label>

    		<input id="Option3" name="reference" type="radio" value="2" ng-model="selectedStudent.reference" ng-checked="selectedStudent.reference === 2">
    		<label for="Option3" onclick="">Option3</label>
    		<a></a>	
  			</div>
		</fieldset>
	</div>
	<div class="col-xs-2"></div>
</div>
<br>
<br>
<div class="row">
	<div class="col-xs-4"></div>
	<div class="col-xs-4">
		<label class="switch-light switch-candy text-center" onclick="">
		  	<input type="checkbox" ng-model="selectedStudent.decision" value="selectedStudent.decision">
		  	<strong>Decision</strong>
		  	<span>
		    	<span>Off</span>
		    	<span>On</span>
		    	<a></a>
		  	</span>
		</label>
	</div>
	<div class="col-xs-4"></div>
</div>
<br>
<br>
<div class="row">
	<div class="col-sm-6">
		<textarea class="form-control" ng-model="selectedStudent.comment"></textarea> 
	</div>
	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-6">
				<button class="btn btn-lg btn-primary btn-block" ng-click="saveData();">Save</button>	
			</div>
			<div class="col-sm-6">
				<a href="#studentList" class="btn btn-lg btn-primary btn-block">Cancel</a>	
			</div>
		</div>
	</div>
</div>