<div class="row">
	<div class="col-sm-6">
		<label class="btn btn-lg btn-primary btn-block default-cursor">{{selectedCourse}}</label>	
	</div>
	<div class="col-sm-6">
		<label class="btn btn-lg btn-primary btn-block default-cursor">{{selectedStudent.lastName }}, {{selectedStudent.firstName}} </label>	
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="col-xs-2"></div>
	<div class="col-xs-8 text-center">
		<fieldset>
  			<h3>reference</h3>
  			<div class="radio-inline">
  				<label><input type="radio" name="refRadio" value="0" ng-model="selectedStudent.reference" ng-checked="selectedStudent.reference === 0">No Refs</label>
			</div>
			<div class="radio-inline">
  				<label><input type="radio" name="refRadio" value="1" ng-model="selectedStudent.reference" ng-checked="selectedStudent.reference === 1">1 Refs</label>
			</div>
			<div class="radio-inline">
  				<label><input type="radio" name="refRadio" value="2" ng-model="selectedStudent.reference" ng-checked="selectedStudent.reference === 2">2 Refs</label>
			</div>
		</fieldset>
	</div>
	<div class="col-xs-2"></div>
</div>
<br>
<br>
<div class="row">
	<div class="col-xs-3"></div>
	<div class="col-xs-6 text-center">
		<fieldset>
			<h3>Decision</h3>
			<div class="radio-inline">
					<label><input type="radio" name="decRadio" value="0" ng-model="selectedStudent.decision" ng-checked="selectedStudent.decision === 0">Do Not Offer</label>
			</div>
			<div class="radio-inline">
					<label><input type="radio" name="decRadio" value="1" ng-model="selectedStudent.decision" ng-checked="selectedStudent.decision === 1">Offer A Place</label>
			</div>
		</fieldset>
	</div>
	<div class="col-xs-3"></div>
</div>
<br>
<br>
<div class="row">
	<div class="col-sm-4">
		field1 : <input class="form-control" ng-model="selectedStudent.field1"/> 
	</div>
	<div class="col-sm-4">
		field2 : <input class="form-control" ng-model="selectedStudent.field2"/>
	</div>
	<div class="col-sm-4">
		field3 : <input class="form-control" ng-model="selectedStudent.field3"/>
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="col-sm-6">
		<textarea class="form-control" placeholder="Interview Notes" ng-model="selectedStudent.comment"></textarea> 
	</div>
	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-6">
				<button class="btn btn-lg btn-primary btn-block" ng-click="saveData();">Save</button>	
			</div>
			<div class="col-sm-6">
				<a href="#studentList" class="btn btn-lg btn-primary btn-block">Cancel</a>	
			</div>
		</div>
	</div>
</div>